:root {
    /* färger */
    --black: rgb(22, 22, 22);
    --white: white; 
    --purple: rgb(154, 86, 218);
    --purple2: #915de0;
    --purple3: rgb(141, 100, 189);
    --lightGrey: rgb(175, 175, 175);

    --prioCol1: #FFA19B;
    --prioCol2: #FFD79B;
    --prioCol3: #9BFFB7;

    /* Gradient */
    --purpleGradient: linear-gradient(45deg, rgb(141, 109, 255) 0%, rgb(141, 100, 189) 100%);
    --purpleGradient2: linear-gradient(45deg, rgb(219, 167, 226) 0%, rgb(139, 131, 232) 100%);
    --whiteGradient: linear-gradient(rgba(260, 260, 260, 0.1), white); 

    /* Fonts */
    --roboto: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --montserrat: "Montserrat";

}

body {
    margin: 0;
    scrollbar-width: none; /* for Firefox */
}

/* Logotypen */
#logotyp {
    font-size: 28px;
    color: black;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    background-color: white;
    z-index: 100;
}

#wrapper {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
/* till navven */
footer {
    position: sticky;
    bottom: 0;
}
nav {
    /* z-index: 100; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100vw;

    /* position: absolute;
    bottom: 0px; */
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    height: 50px;

    background-color: var(--white);
    border-top: 1px solid black;
}

#navList {
    background-repeat: no-repeat;
    background-position: center;
}

.navListBlack {
    background-image: url(../ICONS_BLACK/list-icon.svg);
}

.navListSelected {
    background-image: url(../ICONS_WHITE/list-white.svg);
    background-color: var(--black);
    transition: background-color 2s;
}

#navFocus {
    background-repeat: no-repeat;
    background-position: center;
}

.navFocusBlack {
    background-image: url(../ICONS_BLACK/timer-icon.svg);
}

.navFocusSelected {
    background-image: url(../ICONS_WHITE/timer-white.svg);
    background-color: var(--black);
    transition: background-color 2s;
}

#navProfile {
    background-repeat: no-repeat;
    background-position: center;
}

.navProfileBlack {
    background-image: url(../ICONS_BLACK/profile-icon.svg);
}

.navProfileSelected {
    background-image: url(../ICONS_WHITE/user-white.svg);
    background-color: var(--black);
    transition: background-color 2s;
}

#logotyp {
    font-size: 28px;
    color: black;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    background-color: white;
    z-index: 100;
}

