#wrapper {
    /* display: flex;
    align-items: center;
    justify-content: center; */

    margin: 0px;
}
/* Create-task sidan */
#taskWrapper {
    display: flex;
    justify-content: center;
}

form {
    width: 75%;
}

#taskInput {
    width: 95%;
    border: none;
    border-bottom: 1.5px solid grey;

    padding: 10px;
    margin-top: 30px;
}

#taskInput:focus {
    border-bottom: 1.5px solid black;
}

#addUndoButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#undo-button, #add-button {
    height: 30px;
    display: block;
}

#submitTask {
    display: flex;
    justify-content: flex-end;

    background: none;
	color: inherit;
	border: none;
	padding: 0;
}

/* text */
#taskText {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.errorTask {
    font-size: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: red;
}

/* cirklarna */
#importantCircles, #checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
opacity: 0;
margin: 0;
}

#checkbox {
    margin-left: 5px;
}


.checkbox {
    height: 20px;
    width: 20px;
    border-radius: 50%;

    margin: 0px 23px;   
}

#circle1, #circle2, #circle3 {
    height: 45px;
    width: 45px;
    border-radius: 50%;

    margin: 15px;
}

#circle1 { background-color: #FFA19B;}
#circle2 { background-color: #FFD79B;}
#circle3 { background-color: #9BFFB7;}

/* individuella tasks */
#toDoWrapper {
    margin: 10px;
    min-height: 100vh;
    overflow-y: scroll;
}

#toDoBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#toDoWrapper h3 {
    margin-bottom: 10px;
    font-family: "Montserrat";
}

/* taskboxarna där alla tasks finns */
.taskBox, .completedTaskBox {
    display: grid;
    grid-template-columns: 3fr 1fr;

    height: 50px;
    border: black 1.5px solid;
    border-radius: 8px;
    margin-bottom: 5px;

    font-family: "Montserrat";
    font-size: 15px;
}

.completedTaskBox {
    opacity: .5;
}

.taskText {
    margin: 10px;
}

.taskText > p {
    margin: 0;
}

.task {
    font-weight: 500;
}

.date {
    font-size: 10px;
}

.taskButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.taskButtons > a {
    margin-left: 10px;
}

.taskButtons > img:last-child {
    margin-right: 0px;
}

#addTask {
    margin-top: 10px;
}

#addTask img{
    height: 28px;
}

#ongoing, #completed {
    max-height: 350px;
    overflow-x: scroll;
    transition: 1s;
}

/* Quotes */
.quoteBox {
    text-align: center;
    color: rgb(175, 175, 175);
}

.quoteBox > :first-child {
    font-style: italic;
    margin-bottom: 0;
}
.quoteBox > :nth-of-type(2) {
    margin: 0px;
}

.quoteBox > :last-child {
    margin: 10px;
    font-size: 12px;
}

/* Progressbar - den med trofeer */
#progressBar {
    display: flex;
    justify-content: flex-end;
    
    font-size: 20px;
    margin-top: 20px;
}

#progressBar > p {
    margin: 0;
}

#progressBar > p:first-child {
    margin-right: 3px;
    font-family: "Montserrat";
}

/* sorteringsknappar */
#sortButtons {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 12px;

    font-family: "Montserrat";
}

#sortButtons p {
    margin: 10px;
    align-content: center;
    font-size: 12px;
    transition: .5s;
}

#sortButtons > .chosen {
    font-weight: 500;
    font-size: 15px;
    transition: .7s;
}
