#wrapper {
    /* display: flex;
    align-items: center;
    justify-content: center; */

    margin: 15px;
}
form {
    width: 75%;
}

/* input saken */
#taskInput {
    width: 95%;
    border: none;
    border-bottom: 1.5px solid grey;

    padding: 10px;
    margin-top: 30px;
}

#taskInput:focus {
    border-bottom: 1.5px solid black;
}

/* text */
#taskText {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

/* cirklarna */
#importantCircles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;

    margin: 5px 25px 5px 25px;
}

.circle:first-child { background-color: #FFA19B;}
.circle:nth-child(2) { background-color: #FFD79B;}
.circle:last-child { background-color: #9BFFB7;}

/* individuella tasks */

/* måste fixa taskboxen i js för att man ska kunna ändra färg beroende på vilken knapp som trycks. */
.taskBox {
    display: flex;
    align-items: center;

    height: 50px;
    background-color: #FFA19B;
    border-radius: 8px;
}

.task {
    margin: 10px;
}