
#theProfileWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

#userNameChange {
    text-align: center;
}

#profileImage {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 2px solid black;

    margin-bottom: 20px;
}

.colorContainers {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0px 20px;
}

.colorContainers > p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#colorModes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.colorCircles {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.colorCircles:hover {
    border: 2px solid grey;
    box-sizing: border-box;
    cursor: pointer;
}

#signOutButton {
    border-radius: 10px;
    margin-top: 40px;

    height: 50px;
    width: 225px;

    background-color: black;
    border: 1px solid black;
    transition: 1s;
}

#signOutButton:hover {
    cursor: pointer;
    background-color: white;
}

#signOutButton:hover > a {
    color: black;
}

#signOutButton > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.darkMode {
    background-color: black;
    box-sizing: border-box;
}

.lightMode {
    background-color: white;
    border: 2px solid grey;
    box-sizing: border-box;
}

.pinkMode {
    background-color: #FFC7D1;
    box-sizing: border-box;
}

.selectedColor {
    border: 2px solid grey;
    box-sizing: border-box;
}